In [8]:
35+3

38

In [2]:
9-7

2

In [3]:
4*6

24

In [4]:
7/3

2.3333333333333335

In [5]:
7//3

2

In [6]:
8+9-10

7

In [7]:
10//3

3

In [9]:
10%3

1

In [10]:
'praveen'

'praveen'

In [11]:
print('praveen')

praveen

In [12]:
print("praveen's laptop")

praveen's laptop

In [13]:
print('parveen's laptop')

SyntaxError: invalid syntax (<ipython-input-13-148cefe17617>, line 1)

In [14]:
print('parveen\'s laptop')

parveen's laptop

In [15]:
'praveen'+'praveen'

'praveenpraveen'

In [16]:
10*'praveen'

'praveenpraveenpraveenpraveenpraveenpraveenpraveenpraveenpraveenpraveen'

In [19]:
print('c:\docs\praveen')

c:\docs\praveen

In [20]:
print('c:\docs\npraveen') # \n---->next line

c:\docs
praveen

In [22]:
print(r'c:\docs\praveen') #r--->raw string to be printed

c:\docs\praveen

In [23]:
x=10
y=20
x+y

30

In [24]:
x

10

In [26]:
10+5

15

In [28]:
_+y # here underscore gives you o/p of previous operation

55

In [29]:
name='twitter'

In [30]:
name

'twitter'

In [32]:
name+" rocks"

'twitter rocks'

In [33]:
name[2]

'i'

In [34]:
name[5]

'e'

In [35]:
id(name)

2137016516208

In [36]:
len(name)

7

In [37]:
name[8]

IndexError: string index out of range

In [38]:
name[-1]

'r'

In [39]:
name[-5]

'i'

In [40]:
name[1:4]

'wit'

In [41]:
name[0:]

'twitter'

In [42]:
name[:7]

'twitter'

In [46]:
name[0:7:2]

'titr'

In [48]:
name[0]='k' # strings in python immutable doesnt support item assignment

TypeError: 'str' object does not support item assignment

In [50]:
myname="varukoluprvaeen"
len(myname)

15

In [53]:
# Lists
numbers=[25,12,36,95,14]

In [54]:
numbers[0]

25

In [55]:
len(numbers)

5

In [56]:
numbers[0:3]

[25, 12, 36]

In [57]:
numbers[:2]

[25, 12]

In [58]:
nam=['praveen','anna','ammananna','peddammapeddananna']

In [59]:
nam

['praveen', 'anna', 'ammananna', 'peddammapeddananna']

In [60]:
nam.append(45)

In [61]:
nam

['praveen', 'anna', 'ammananna', 'peddammapeddananna', 45]

In [64]:
nam.pop(0) # by using index number

'praveen'

In [75]:
nam.insert(0,'praveen')

In [76]:
nam

['praveen', 'ammananna', 'peddammapeddananna']

In [77]:
nam.remove('praveen')

In [78]:
nam

['ammananna', 'peddammapeddananna']

In [79]:
nam.pop()

'peddammapeddananna'

In [87]:
nam1=[5,6,7,8,8,9,9,9,9]
del nam1[2:]
nam1

[5, 6]

In [88]:
nam1.extend(1,2,3,4,3)

TypeError: extend() takes exactly one argument (5 given)

In [90]:
nam1.extend([1,2,3,4,3])
nam1

[5, 6, 1, 2, 3, 4, 3, 1, 2, 3, 4, 3]

In [91]:
min(nam1)

1

In [92]:
max(nam1)

6

In [93]:
sum(nam1)

37

In [95]:
nam1.sort()
nam1

[1, 1, 2, 2, 3, 3, 3, 3, 4, 4, 5, 6]

In [99]:
nam1.reverse()
nam1

[6, 5, 4, 4, 3, 3, 3, 3, 2, 2, 1, 1]

In [105]:
# tuple
t1=(21,36,14,25)

In [106]:
t1[1]

36

In [107]:
type(t1)

tuple

In [108]:
t1[1]=55

TypeError: 'tuple' object does not support item assignment

In [109]:
# set
s={3,4,5,6,7,8}

In [110]:
type(s)

set

In [113]:
s1={80,50,60,40,90} # its rearranging the order
s1

{40, 50, 60, 80, 90}

In [114]:
s1[4]

TypeError: 'set' object is not subscriptable

In [122]:
s1.update("45","50","65")
s1

{'0', '1', '2', '4', 40, '5', 50, '6', 60, 80, 90}

In [123]:
# dictionary
data={1:"praveen",2:"anna",3:"omkar"}

In [124]:
data[3]

'omkar'

In [125]:
data[1]

'praveen'

In [126]:
data[0]

KeyError: 0

In [127]:
data.get(1)

'praveen'

In [128]:
print(data.get(4))

None

In [130]:
print(data.get(5,'Not Found'))

Not Found

In [131]:
keys=['praveen','omkar','baby']

In [132]:
values=['python','ai-ml','cse']

In [136]:
data1=dict(zip(keys,values))
data1

{'praveen': 'python', 'omkar': 'ai-ml', 'baby': 'cse'}

In [138]:
data1['praveen']

'python'

In [139]:
data1['lakh']

KeyError: 'lakh'

In [140]:
data1['lakh']='julia'

In [141]:
data1

{'praveen': 'python', 'omkar': 'ai-ml', 'baby': 'cse', 'lakh': 'julia'}

In [142]:
prog={'JS':'Atom','CS':'VS','python':['pychorm','sublime'],'java':{'JSE':'Netbeans','JEE':'Eclipse'}}

In [143]:
prog

{'JS': 'Atom',
 'CS': 'VS',
 'python': ['pychorm', 'sublime'],
 'java': {'JSE': 'Netbeans', 'JEE': 'Eclipse'}}

In [144]:
prog['JS']

'Atom'

In [145]:
prog['python']

['pychorm', 'sublime']

In [148]:
prog['python']

['pychorm', 'sublime']

In [150]:
prog['java']

{'JSE': 'Netbeans', 'JEE': 'Eclipse'}

In [152]:
help()

Welcome to Python 3.8's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.8/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> topics

Here is a list of available topics.  Enter any topic name to get more help.

ASSERTION           DELETION            LOOPING             SHIFTING
ASSIGNMENT          DICTIONARIES        MAPPINGMETHODS      SLICINGS
ATTRIBUTEMETHODS    DICTIONARYLITERALS  MAPPINGS            SPECIALATTRIBUTES
ATTRIBUTES          DYNAMICFEATURES     METHODS             SPECIALIDENTIFIERS
AUGMENTEDASSIGNMENT ELLIPSIS            MODULES             SPECIALMETHODS
BASICMETHODS        EXCEPTIONS          NAMESPACES          STRINGMETHODS
BINARY              EXECUTION           NONE                STRINGS
BITWISE             EXPRESSIONS         NUMBERMETHODS       SUBSCRIPTS
BOOLEAN             FLOAT               NUMBERS             TRACEBACKS
CALLABLEMETHODS     FORMATTING          OBJECTS             TRUTHVALUE
CALLS               FRAMEOBJECTS        OPERATORS           TUPLELITERALS
CLASSES             FRAMES              PACKAGES            TUPLES
CODEOBJECTS         FUNCTIONS           POWER               TYPEOBJECTS
COMPARISON          IDENTIFIERS         PRECEDENCE          TYPES
COMPLEX             IMPORTING           PRIVATENAMES        UNARY
CONDITIONAL         INTEGER             RETURNING           UNICODE
CONTEXTMANAGERS     LISTLITERALS        SCOPING
CONVERSIONS         LISTS               SEQUENCEMETHODS
DEBUGGING           LITERALS            SEQUENCES

help> lists
No Python documentation found for 'lists'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help> LISTS
Mutable Sequence Types
**********************

The operations in the following table are defined on mutable sequence
types. The "collections.abc.MutableSequence" ABC is provided to make
it easier to correctly implement these operations on custom sequence
types.

In the table *s* is an instance of a mutable sequence type, *t* is any
iterable object and *x* is an arbitrary object that meets any type and
value restrictions imposed by *s* (for example, "bytearray" only
accepts integers that meet the value restriction "0 <= x <= 255").

+--------------------------------+----------------------------------+-----------------------+
| Operation                      | Result                           | Notes                 |
|================================|==================================|=======================|
| "s[i] = x"                     | item *i* of *s* is replaced by   |                       |
|                                | *x*                              |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s[i:j] = t"                   | slice of *s* from *i* to *j* is  |                       |
|                                | replaced by the contents of the  |                       |
|                                | iterable *t*                     |                       |
+--------------------------------+----------------------------------+-----------------------+
| "del s[i:j]"                   | same as "s[i:j] = []"            |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s[i:j:k] = t"                 | the elements of "s[i:j:k]" are   | (1)                   |
|                                | replaced by those of *t*         |                       |
+--------------------------------+----------------------------------+-----------------------+
| "del s[i:j:k]"                 | removes the elements of          |                       |
|                                | "s[i:j:k]" from the list         |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.append(x)"                  | appends *x* to the end of the    |                       |
|                                | sequence (same as                |                       |
|                                | "s[len(s):len(s)] = [x]")        |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.clear()"                    | removes all items from *s* (same | (5)                   |
|                                | as "del s[:]")                   |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.copy()"                     | creates a shallow copy of *s*    | (5)                   |
|                                | (same as "s[:]")                 |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.extend(t)" or "s += t"      | extends *s* with the contents of |                       |
|                                | *t* (for the most part the same  |                       |
|                                | as "s[len(s):len(s)] = t")       |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s *= n"                       | updates *s* with its contents    | (6)                   |
|                                | repeated *n* times               |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.insert(i, x)"               | inserts *x* into *s* at the      |                       |
|                                | index given by *i* (same as      |                       |
|                                | "s[i:i] = [x]")                  |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.pop([i])"                   | retrieves the item at *i* and    | (2)                   |
|                                | also removes it from *s*         |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.remove(x)"                  | remove the first item from *s*   | (3)                   |
|                                | where "s[i]" is equal to *x*     |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.reverse()"                  | reverses the items of *s* in     | (4)                   |
|                                | place                            |                       |
+--------------------------------+----------------------------------+-----------------------+

Notes:

1. *t* must have the same length as the slice it is replacing.

2. The optional argument *i* defaults to "-1", so that by default
   the last item is removed and returned.

3. "remove()" raises "ValueError" when *x* is not found in *s*.

4. The "reverse()" method modifies the sequence in place for
   economy of space when reversing a large sequence.  To remind users
   that it operates by side effect, it does not return the reversed
   sequence.

5. "clear()" and "copy()" are included for consistency with the
   interfaces of mutable containers that don’t support slicing
   operations (such as "dict" and "set"). "copy()" is not part of the
   "collections.abc.MutableSequence" ABC, but most concrete mutable
   sequence classes provide it.

   New in version 3.3: "clear()" and "copy()" methods.

6. The value *n* is an integer, or an object implementing
   "__index__()".  Zero and negative values of *n* clear the sequence.
   Items in the sequence are not copied; they are referenced multiple
   times, as explained for "s * n" under Common Sequence Operations.

Related help topics: LISTLITERALS

help> quit

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [153]:
num=5
id(num)

140715649738656

In [154]:
name1='Amma'

In [156]:
id(name1)

2137058014640

In [157]:
a=10

In [158]:
b=a

In [159]:
a

10

In [160]:
b

10

In [162]:
id(a)

140715649738816

In [163]:
id(b)

140715649738816

In [165]:
id(10)
# here a,b and object=10 are having same id value

140715649738816

In [166]:
k=10
id(k)

140715649738816

In [169]:
range(10)

range(0, 10)

In [170]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [171]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [189]:
x=14

In [190]:
x=x+1
x

15

In [191]:
x+=2
x

17

In [192]:
a<b

False

In [194]:
a>b

False

In [197]:
a==b

True

In [198]:
a<=b

True

In [199]:
a>=b

True

In [200]:
a!=b

False

In [201]:
w=6
d=7

In [202]:
w>8 and d<8

False

In [203]:
w<8 and d<8

True

In [204]:
not w

False

In [205]:
bin(25)

'0b11001'

In [206]:
0b110011010

410

In [207]:
bin(410)

'0b110011010'

In [208]:
f=2
g=3
f,g=g,f

## print(f)
print(g)

In [211]:
f=f+g
g=f-g
f=f-g
print(f)
print(g)

2
3

In [212]:
~12

-13

In [213]:
12&13

12

In [214]:
12|13

13

In [215]:
12^13

1

In [216]:
 10<<2

40

In [217]:
10>>2

2

In [218]:
import math

In [221]:
math.sqrt(25)

5.0

In [222]:
math.sqrt(64)

8.0

In [224]:
math.floor(2.9)

2

In [225]:
math.ceil(3.1)

4

In [226]:
3**3

27

In [227]:
math.pow(3,4)

81.0

In [228]:
math.pi

3.141592653589793

In [229]:
math.e

2.718281828459045

In [230]:
import math as m

In [231]:
m.e

2.718281828459045

In [232]:
m.factorial(5)

120

In [233]:
math.factorial(6)

720

In [234]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [235]:
u=int(input("Enter the first number:"))
v=int(input("Enter the second number:"))
z=u+v
print(z)

Enter the first number:5
Enter the second number:6
11

In [246]:
a=100
b=200
if a<b:
    print(True)
else:
    print(False)
# if else elif nested if conditions steps
# 1-->inititalization
# 2-->condition

True

In [247]:
a=100
b=200
if a>b:
    print(True)
else:
    print(False)

False

In [248]:
x=1000
r=x%2
if r==0:
    print("Even")
else:
    print("Odd")

Even

In [249]:
# while loop steps
# 1--->initialization
# 2--->condition
# 3--->increment/decrement

i=1       # count we have to define
while i<=5:
    print("Telusko")
    i=i+1

Telusko
Telusko
Telusko
Telusko
Telusko

In [254]:
i=5
while i>=1:
    print("Telusko",i)
    i=i-1

Telusko 5
Telusko 4
Telusko 3
Telusko 2
Telusko 1

In [255]:
i=1       # count we have to define
while i<=5:
    print("Telusko",i)
    i=i+1

Telusko 1
Telusko 2
Telusko 3
Telusko 4
Telusko 5

In [262]:
i=1
while i<=5:
    print("Telusko",end=" ")
    j=1
    while j<=4:
        print("Rocks",end=" ")
        j=j+1
    i=i+1

Telusko Rocks Rocks Rocks Rocks Telusko Rocks Rocks Rocks Rocks Telusko Rocks Rocks Rocks Rocks Telusko Rocks Rocks Rocks Rocks Telusko Rocks Rocks Rocks Rocks